@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
#notice{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    line-height: 2rem;
}
.badge {
    font-family: 'Raleway', sans-serif;
    width: auto;
    border-radius: 50%;
    padding: 5px;
    align-content: center;
    line-height: 5rem;
    font-weight: bold;
}

.orange {
    color: whitesmoke;
    background-color: orangered;
}

.blue {
    color: #282c34;
    background-color: aqua;
}